@*@{
        ViewData["Title"] = "Home Page";
    }*@

@model IQueryable<Employee>
@foreach (var p in Model)
{
    <div>
        <h3>Name : @p.Name</h3>
        <p>Sex : @p.Ages</p>
        <p>Number : @p.Number</p>
        <p>Mail: @p.Mails.</p>
        <p>Mail: @p.ImgUrl.</p>
        <hr />
    </div>
}